


.interactive{
    box-shadow: 0px 0px 20px #f00;
    /*transition: transform 0.5s; transform에 대해서 0.5s 애니메이션 해라*/
    /*transition: box-shadow 2s; */
    /*transition: border 2s; */
    /*transition: transform 0.5s, border 1s, box-shadow 1.5s; */
    transition: all 0.5s; /*변경되는 모든 것들에 대해서*/
}

.interactive:hover{
    transform: scale(1.5, 1.5); 
    border: 1px solid black;
    box-shadow: none;
    /* transform: rotate(180deg); */
    /* transform: translate(100px, 200px); x 방향, y 방향 */

}

.box{
    width: 100px;
    height: 100px;
    background-color: #7f9c2e;
    transition: border-radius 2s, background-color 0.2s, transform 1s;
}

.box:hover{                  
    background-color: aqua;
    border-radius: 50px;
    transform: rotate(180deg);
}

