.width{
    background-color: #f00;
    width: 80%; /*브라우저 크기를 바꿔도 유지*/
    max-width: 1000px; /*박스가 커질 수 있는 최대 폭*/
    min-width: 500px; /*박스가 작아질 수 있는 최소 폭*/
    height:200px;
}

.height{
    background-color: #0f0;
    width:500px;
    /*height: 80%; height는 부모의 영향을 받아서 안됨*/
    height:50vh;
    max-height: 400px;
    min-height: 300px;
}

.width-height{
    background-color: #00f;
    width: 70%;
    height: 50vh;
    min-width: 200px;
    max-width: 500px;
    min-height: 100px;
    max-height: 200px;
}