.box {
  background-color: aqua;
  width: 400px; /*margin, content, border 3개가 width 영향을 받음*/

  /*margin, border, padding, content*/
  margin: 20px;
  border: 10px solid red;
  padding: 20px;
}

.border-box {
  box-sizing: border-box;
  background-color: aqua;
  width: 400px; /*margin, content, border 3개가 width 영향을 받음*/

  /*margin, border, padding, content*/
  margin: 20px;
  border: 10px solid red;
  padding: 20px;
}
