.result {
  width: 100px;
  height: 100px;
  background-color: #fff;
  border: 1px solid #f00;
}

.clicked {
  background-color: #00f;
}

.block {
  position: fixed;
  z-index: 99999;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #000;
}
